<section id="blog-posts-all">
    <div class="main-content">
        <div class="row">
            <section class="section-content col-md-9">
                <header class="index-header">
                    <h1 class="index-page-title"> All posts</h1>
                </header>
                <% @post.each do |post| %>
                <div class=" row">
                    <div class="col-md-5">
                        <div class="articles-1">
                            <ul class="article-list">
                                <p>
                                    <%= image_tag post.pic.url(:medium), class: "img-thumbnail" %>
                                </p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h2>
                            <%= link_to post.title, post%>
                        </h2>
                        <p>
                            <%= post.created_at.strftime("%d %B, %Y") %>
                        </p>
                        <p>
                            <%= link_to post.body.truncate_words(35), post%>
                        </p>
                    </div>
                </div>
                <% end %>
            </section>
            <aside class="aside-content col=md-3">

            </aside>
        </div>
    </div>
</section>


<section id="posts">
    <div class="posts-content">
        <div class="header">
            <p>All Posts</p>

            <div>
                <button class="button"><%= link_to "New Post", new_post_path%></button>
                <button class="button">Log out</button>
            </div>
        </div>

        <% flash.each do |name, msg| %>
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> You successfully read this important alert message.
            </div>
            <% end %>

                <%= yield %>
    </div>
</section>