<section id="blog-posts-all">
        <% flash.each do |name, msg| %>
            <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> You successfully read this important alert message.
            </div>
        <% end %>
            <%= yield %>
    <div class="main-content">
        <header class="index-header">
                    <h1 class="index-page-title d-flex justify-content-center"> All posts</h1>
                    <div class="top-buttons">
                        <button class="button"><%= link_to "New Post", new_post_path%></button>
                        <button class="button">Log out</button>
                    </div>
                </header>
        <div class="row">
            <div class="section-content col-md-12 col-lg-9">
                <% @post.each do |post| %>
                <div class="row">
                    <div class="col-md-5">
                        <div class="articles-1">
                            <ul class="article-list">
                                <p>
                                    <%= image_tag post.pic.url(:medium), class: "img-thumbnail" %>
                                </p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h2>
                            <%= link_to post.title, post%>
                        </h2>
                        <p>
                            <%= post.created_at.strftime("%d %B, %Y") %>
                        </p>
                        <p>
                            <%= link_to post.body.truncate_words(35), post%>
                        </p>
                    </div>
                </div>
                <% end %>
            </div>
            <aside class="aside-content col=md-3">

            </aside>
        </div>
        <nav class="d-flex justify-content-center">
          <ul class="apple_pagination">
              <%= will_paginate @post %>
        </nav>
    </div>
</section>