<h1 class="title">
    <%= @post.title %>
</h1>

<p>
    <%= @post.created_at.strftime("%d %B, %Y") %>
    | <%= link_to 'Edit', edit_post_path(@post) %>
    | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
    <%= @post.body %>
</p>

<div class="blog-home">
    <div class="container">
        <div class="blog-main">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-title">
                        <h3>Blog article Title</h3>
                    </div>
                    <div class="blog-content">
                        
                    </div>
                    <div class="blog-articles">
                        
                    </div>
                </div>
                <div class="col-md-4">
                    
                </div>
            </div>
        </div>
    </div>
</div>