<% flash.each do |name, msg| %>
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> You successfully uploaded new post.
    </div>
<% end %>
<section id="blog-posts-index">
    <div class="main-content">
        <section class="main-content container">
          <header class="index-header">
            <h1 class=index-page-title>
                
            </h1>
          </header> 
          <div class="">
              
          </div>
        </section>
        <aside class="">
            
        </aside>
    </div>
</section>









<h1 class="title">
    <%= @post.title %>
</h1>

<p>
    <%= image_tag @post.pic.url(:large), class: 'img-thumbnail' %>
</p>

<p>
    <%= @post.created_at.strftime("%d %B, %Y") %>
    | <%= link_to 'Edit', edit_post_path(@post) %>
    | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
    <%= @post.body %>
</p>