<section class="blog-home">
    <div class="row">
            <div class="col-md-8 left">
                <div id="blog-primary">
                    <!-- BLOG PRIMARY -->
                    <div class="blog-title d-flex justify-content-center">
                        <h4>BLW en Espanol Blog</h4>
                    </div>
                    <div class="blog-article-title d-flex justify-content-center">
                        <h3>
                            <%= link_to @first_post.title, @first_post %>
                        </h3>
                    </div>
                    <div class="blog-content">
                        <a href="#">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="/assets/application/BLW logo"></iframe>
                            </div>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, sit aut delectus. Et, dolores impedit facere cum sint eveniet amet veniam deserunt quasi minus. Eveniet, consectetur impedit molestiae quibusdam sunt.
                        </p>
                        <a class="btn btn-outline-primary" href="#" role="button">Link</a>
                        <!-- Share buttons -->
                    </div>
                </div>
                <!-- END BLOG PRIMARY -->
                <div class="blog-articles">
                    <!-- BLOG ARTICLES -->
                    <div class="row article-tumbnail-top">
                        <% @posts.each do |post| %>
                            <div class="col-md-6 ">
                                <ul class="recipe-list">
                                    <li>
                                        <!------------ BLOG POST ------------>
                                        <div class="recipe-article">
                                            <div class="article-thumbnail">
                                                <!------- IMAGE ------->
                                                <a href="#"><img src="/assets/application/BLW logo" class="img-thumbnail"></a>
                                            </div>
                                            <!------- END IMAGE ------->
                                            <div class="article-text">
                                                <!------- POST CONTENT ------->
                                                <h3 class="category-title">
                                                    <a href="#">Blog Category</a>
                                                </h3>

                                                <a class="column-article-title" href="#">
                                                    <h3 class="article-title">
                                                        <%= link_to post.title, post %>
                                                    </h3>
                                                </a>
                                                <div class="article-author">
                                                    <p>
                                                        <%= post.created_at.strftime("%d/%m/%y")%>
                                                    </p>
                                                </div>
                                            </div>
                                            <!------- END POST CONTENT ------->
                                        </div>
                                    </li>
                                    <!------------ END BLOG POST ------------>
                                </ul>
                            </div>
                            <% end %>
                    </div>
                </div>
                <!-- END BLOG ARTICLES -->

            </div>
            <!-- col-md-8 -->
            <!-- SIDEBAR -->
            <div class="col-md-4 right">
                <div class="blog-about">
                    <h3 class="d-flex justify-content-center right-titles">ABOUT US</h3>
                    <div class="about-content">
                        <img class="d-block img-fluid" src="/assets/application/BLW logo">
                        <p>Lorem ipsum dolor sitriores in quae veritatis deleniti minima numquam autem fugiat mollitia impedit doloribus nesciunt error officiis aperiam distinctio odio porro?</p>
                    </div>
                </div>
                <!------- ARTICLES ------->
                <div class="blog-popular">
                    <h3 class="right-titles">Articles you might like</h3>
                    <div class="popular-content">
                        <div class="popular-article">
                            <div class="articles-1">
                                <ul class="article-list">
                                    <li>
                                        <!------------ ARTICLE ------------>
                                        <div class="row article-tumbnail-top">
                                            <% @article.each do |article| %>
                                            <div class="col-md-6 article-thumbnail">
                                                <!------- IMAGE ------->
                                                <a href="#"><img src="/assets/application/BLW logo" class="img-thumbnail float-left"></a>
                                            </div>
                                            <!------- END IMAGE ------->
                                            <div class="col-md-6 article-text">
                                                <!------- ARTICLE CONTENT ------->
                                                <h3 class="category-title">
                                                    <a href="#">Article Category</a>
                                                </h3>
                                                <a class="column-article-title" href="#">
                                                    <h3 class="article-title"><%= link_to article.title, article %></h3>
                                                </a>
                                                <div class="article-author">
                                                    <p>
                                                        <%= article.created_at.strftime("%d/%m/%y")%>
                                                    </p>
                                                </div>
                                            </div>
                                            <!------- END ARTICLE CONTENT------->
                                            <% end %>
                                        </div>
                                    </li>
                                    <!------------ END ARTICLE ------------>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!------- END ARTICLES ------->
                <div class="blog-categories">
                    <h3 class="right-titles">Categories</h3>
                    <ul>
                        <li>Toddlers</li>
                        <p>Lorem ipsum dolor sit amet, an consequuntur del</p>
                        <li>In the News</li>
                        <p>Lorem ipsum dolor sit amet, an consequuntur del</p>
                        <li>Parenting</li>
                        <p>Lorem ipsum dolor sit amet, an consequuntur del</p>
                        <li>Food</li>
                        <p>Lorem ipsum dolor sit amet, an consequuntur del</p>
                    </ul>
                </div>
                <div class="blog-dates">
                    <h3 class="right-titles">Serach by date</h3>
                    <ul>
                        <li>Enero</li>
                        <p>Lorem ipsum dolor sit amet, an consequuntur del</p>
                        <li>Febrero</li>
                        <p>Lorem ipsum dolor sit amet, an consequuntur del</p>
                        <li>Marzo</li>
                        <p>Lorem ipsum dolor sit amet, an consequuntur del</p>
                        <li>Abril</li>
                        <p>Lorem ipsum dolor sit amet, an consequuntur del</p>
                    </ul>
                </div>
            </div>
            <!-- END SIDEBAR -->
    </div>
    <!-- row -->
</section>
<!-- blog-main -->